<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<title>User Registration</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/custom.css"/>
<link rel="shortcut icon" href="/images/userImage.png"/>
</head>
<body>

	<header layout:include="Header"></header>
	
	<section layout:fragment="content">
	
	</section>

	<script src="/js/jquery-2.2.3.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>