<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="MasterLayout">
<head>
<title>User Registration</title>
</head>

<section layout:fragment="content">	
	
	<form class="form-horizontal" method="POST" action="/userregistration" th:object="${user}">
		<div layout:include="GeneralMessage"></div>
		<div layout:include="ErrorMessage"></div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<div class="panel-titel pull-left align-header">New User</div>
					<a role="button" href="/userregistration/" 
						class="btn btn-danger pull-right">Back</a>
				</div>
			</div>
			
			<div class="panel-body">
				<input type="hidden" th:field="*{id}"/>
				
				<div class="form-group" th:classappend="${#fields.hasErrors('name')} ? has-error">
					<label for="name" class="col-sm-1 control-label">Name:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="name" th:field="*{name}"/>
					</div>
				</div>
				
				<div class="form-group" th:classappend="${#fields.hasErrors('email')} ? has-error">
					<label for="email" class="col-sm-1 control-label">Email:</label>
					<div class="col-sm-4">
						<input type="email" class="form-control" id="email" th:field="*{email}"/>
					</div>
				</div>
				
				<div class="form-group" th:classappend="${#fields.hasErrors('age')} ? has-error">
					<label for="age" class="col-sm-1 control-label">Age:</label>
					<div class="col-sm-2">
						<input type="number" class="form-control" min="0" max="120" id="age" th:field="*{age}"/>
					</div>
				</div>
				
				<div class="form-group">
					<label for="status" class="col-sm-1 control-label">Status:</label>
					<div class="col-sm-2">
						<select class="form-control" id="status" th:field="*{status}">
							<option th:each="status : ${userStatusList}" 
									th:value="${status}" 
									th:text="${status.description}"></option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-offset-1 col-sm-10">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>
			</div>
		</div>
	</form>

</section>
</html>