<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="MasterLayout">
<head>
	<title th:text="#{searchUsers}"></title>
</head>
	
<section layout:fragment="content">
	<div layout:include="GeneralMessage"></div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<div class="panel-titel pull-left align-header" th:text="#{searchUsers}"></div>
				<a role="button" th:href="@{/userregistration/usercrud}" 
					class="btn btn-primary pull-right" th:text="#{newUser}"></a>
			</div>
		</div>
		
		<div class="panel-body">
			<form method="GET" class="form-horizontal" th:action="@{/userregistration}" th:object="${filter}">
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group">
							<input class="form-control" th:placeholder="#{response.findByUserName}" autofocus="autofocus" th:field="*{name}"/>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<i class="fa fa-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</form>
			
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center col-md-1">#</th>
							<th class="text-center col-md-3" th:text="#{name}"></th>
							<th class="text-center col-md-1" th:text="#{age}"></th>
							<th class="text-center col-md-3" th:text="#{email}"></th>
							<th class="text-center col-md-1" th:text="#{status}"></th>
							<th class="text-center col-md-1" th:text="#{actions}"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="user : ${userList}">
							<td class="text-center" th:text="${user.id}"></td>
							<td class="text-center" th:text="${user.name}"></td>
							<td class="text-center" th:text="|${user.age} #{years}|"></td>
							<td class="text-center" th:text="${user.email}"></td>
							<td class="text-center" th:attr="data-role=${user.id}">
								<span class="label" th:text="${user.status.description}"
								th:classappend="${user.status.getStatus() ? 'label-info' : 'label-danger'}"></span>
							</td>
							<td class="text-center">
								<a class="btn btn-link btn-xs" th:href="@{/userregistration/{id}(id=${user.id})}">
									<i class="fa fa-pencil" aria-hidden="true"></i>
								</a>
								
								<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#deleteConfirmationModal" 
									th:attr="data-id=${user.id}, data-name=${user.name}">
									<i class="fa fa-trash-o" aria-hidden="true"></i>
								</a>
								
								<a class="btn btn-link btn-xs js-status-update" th:href="@{/userregistration/{id}/changeStatus(id=${user.id})}"
									th:attr="data-status-id=${user.id}">
									<i th:classappend="${user.status.getStatus() ? 'fa fa-unlock' : 'fa fa-lock'}" aria-hidden="true"></i>
								</a>
							</td>
						</tr>
						
						<tr>
							<td class="text-center" colspan="6" th:if="${#lists.isEmpty(userList)}" th:text="#{response.noResults}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div layout:include="DeleteConfirmationDialog"></div>
		
	</div>

</section>
</html>