.nav-img {
	width:55px;
	margin-top:-5px;
}

.nav-title {
	float: right; 
	color: #fff;
	font-size: 20px;
	margin-top: 10px;
}

.panel-default {
	margin-right: 10px;
	margin-left: 10px;
}

.alert {
	margin-right: 10px;
	margin-left: 10px;
}

.align-header {
	margin-top: 6px;
}

.panel-heading {

}